<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>HOME</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="\css\style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="\js\app\SharedDataService.js"></script>
    <script src="\js\app\Login.js"></script>
</head>

<body>
    <!-- Navbar -->
    <div class="topnav" id="navbar">
        <div class="logo-image">
            <a href="/Views/index.html">
                <img src="\images\personsicon.png" class="img-fluid">
            </a>
        </div>
        <a href="/Views/DevSkillAss/Login.html">Login</a>
        <a href="/Views/DevSkillAss/Contact.html">Contact</a>
        <a href="/Views/DevSkillAss/About.html">About</a>
    </div>
    <div>
        <br><hr>
        <h3>HOME </h3>
        <hr><br>
    </div>
    <div class="container2">
        <form id="myForm">
            <p>
                The application is a web solution designed to manage people, their accounts, and transactions associated with those accounts. It provides a user-friendly interface and incorporates various features and functionality
            </p>
        </form>
    </div>
    <br><hr><br><br><br><br>
    <!-- Footer -->
    <div class="footer">
        <div class="logo-image">
            <img src="\images\personsicon.png" class="img-fluid">
        </div>
        <p class="copyrights"> © 2023, Persons. All  Rights Reserved.</p>
    </div>
</body>
<html>
