@{
    ViewData["Title"] = "About Page";
}

<h1>@ViewData["Title"]</h1>

<p>
    I am an accomplished Full-stack Developer with expertise in AngularJS, C#, T-SQL, MS SQL Server, and .NET API. With a focus on building robust web applications and systems, I excel in maintaining and optimizing point-of-sale and back-office systems.

    On the front-end, I leverage AngularJS to create intuitive and user-friendly interfaces using HTML and CSS. This ensures seamless experiences for users as they interact with the applications I develop.
</p>
<p>
    In addition, I am skilled in constructing reliable APIs using C#, T-SQL, and MS SQL Server. This allows for secure data integration and smooth system functionality. I am experienced in working with .NET API, which enables seamless communication between different components of the application.

    One of my core strengths lies in debugging and issue resolution. I possess a keen eye for detail and am adept at quickly identifying and resolving technical challenges. This skill has been instrumental in maintaining optimal system performance and ensuring uninterrupted user experiences.
</p>
<p>
    In addition to my expertise in web development, I have a passion for working with IoT technologies. Specifically, I have hands-on experience with Nordic Thingy Devices, allowing me to develop innovative solutions in the IoT space. By combining my development skills with IoT capabilities, I create cutting-edge applications that leverage the power of connected devices.

    Throughout my career, I have demonstrated strong problem-solving abilities and a meticulous attention to detail. I thrive in collaborative environments, working closely with cross-functional teams to understand project requirements and deliver high-quality solutions. My excellent communication and teamwork skills have been integral in successfully completing projects and exceeding client expectations.
</p>
<p>
    In summary, I am a highly skilled Full-stack Developer with expertise in AngularJS, C#, T-SQL, MS SQL Server, and .NET API. I have a proven track record of designing and developing web applications, maintaining systems, debugging issues, and leveraging IoT technologies. I am dedicated to staying at the forefront of the industry and continuously improving my skills to deliver exceptional results. I am eager to contribute my talents to new and exciting projects, so let's connect and discuss how I can add value to your organization.
</p>



