@{
    ViewData["Title"] = "Contact Page";
}
<p>
    Currently not available on social meadia however can me contacted via Phonecall,Email,LinkedIn or Whatsapp.
</p>

<h3>Phone:</h3>
<p>
    +27 67 267 5272
</p>

<h3>Email:</h3>
<p>
    <a href="mailto:sabelomakhoba17@gmail.com">Sabelomakhoba17@gmail.com</a>
</p>

<h3>LinkedIn:</h3>
<p>
    <a href="https://www.linkedin.com/in/sabelo-makhoba-12419b221/">Sabelo Makhoba</a>
</p>
