<!DOCTYPE html>
<html>
<head>
    <title>CONTACT</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="\css\style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="\js\app\SharedDataService.js"></script>
</head>
<body>
    <!-- Navbar -->
    <div class="topnav" id="navbar">
        <div class="logo-image">
            <a href="/Views/index.html">
                <img src="\images\personsicon.png" class="img-fluid">
            </a>
            
        </div>
        <a href="/Views/DevSkillAss/Login.html">Login</a>
        <a href="/Views/DevSkillAss/Contact.html">Contact</a>
        <a href="/Views/DevSkillAss/About.html">About</a>
    </div>
    <hr />
    <div class="container3">
        <p>
            Currently not available on social meadia however can me contacted via Phonecall,Email,LinkedIn or Whatsapp.
        </p>

        <h4>Phone:</h4>
        <p>
            +27 67 267 5272
        </p>

        <h4>Email:</h4>
        <p>
            <a href="mailto:sabelomakhoba17@gmail.com">Sabelomakhoba17@gmail.com</a>
        </p>

        <h4>LinkedIn:</h4>
        <p>
            <a href="https://www.linkedin.com/in/sabelo-makhoba-12419b221/">Sabelo Makhoba</a>
        </p>
    </div>
        <br><hr><br><br><br><br><br />
        <!-- Footer -->
        <div class="footer">
            <div class="logo-image">
                <img src="\images\personsicon.png" class="img-fluid">
            </div>
            <p class="copyrights"> © 2023, Persons. All  Rights Reserved.</p>
        </div>
    
</body>
</html>